body{
    background-color: black;
    border: 1px;
}
.calculadora{
    display: grid;
    background-color: white;
    color: black;
    grid-template-columns:repeat(4,auto);
    grid-template-rows: repeat(7,80px);
}

#visor{
    grid-column: 1/5;
    grid-row: 1/3;
    font-size: 80px;
    text-align: center;
    line-height: 160px;
}

.teclas, .operador , #igual , #borrar, #borrar_todo,#punto {
    border: 1px solid black;
    background-color: #0898c5;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
}
.teclas:hover, .operador:hover, #igual:hover, #borrar:hover , #borrar_todo:hover, #punto:hover{
    background-color: #05dce7;
}
